<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/css/buefy.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>re-rack</title>
  </head>
  <body>
    <div class='section' id='app'>
      <div class='container'>
        
        <navbar></navbar>
        <br>
        <help></help>
        <p>
        </p>
        <recipe-adder></recipe-adder>
        <hr>
        {% raw %}
        <article v-if='shared.state.message' class="message">
            <div class="message-header">
              <p>Extra Stuff Needed</p>
            </div>
            <div class="message-body">
              You'll also need: {{shared.state.message}}
            </div>
        </article>
        {% endraw %}
        <recipe-pourer></recipe-pourer>
        <hr>
        <bottle-pourer></bottle-pourer>
      </div>
    </div>

    {% include 'help.html' %}
    {% include 'navbar.html' %}
    {% include 'recipeadder.html' %}
    {% include 'bottlepourer.html' %}
    {% include 'recipepourer.html' %}

    <script type="text/javascript" src="{{ url_for('static', filename='lib/js/vue.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/js/buefy.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/js/lodash.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/js/axios.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/store.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/help.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/recipeadder.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/recipepourer.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bottlepourer.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>

  </body>
</html>