{% raw %}
<script type="text/x-template" id="bottle-pourer-template">
<div>
    <div class="columns is-multiline">
        <div class="column is-one-quarter " v-for="i in [0,1,2,3,4,5,6,7]">
            <bottle-module :bottle_index="i"></bottle-module>
        </div>
    </div>
</div>
</script>

<script type="text/x-template" id="bottle-module-template">
<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            Bottle {{bottle_index}} : {{shared.state.bottles[bottle_index] ? shared.state.bottles[bottle_index] : "Empty"}}
        </p>
    </header>
    <div class='card-content'>
        <!-- <div class='field'>
            <div class='control'>
                <input v-if="editing" v-model='editedIngredient' @blur='editBottle()' class='input is-primary' type='text' placeholder='Ingredient'>
            </div>
        </div> -->
        <b-field v-if="editing">
            <b-autocomplete
                v-model="editedIngredient"
                :data="search"
                @input="refreshSearch"
                placeholder="Ingredient"
                >
                <template slot="empty">No results found</template>
            </b-autocomplete>
        </b-field>
        <div class='field'>
            <button v-if="!editing" class="button" v-bind:disabled="!shared.state.bottles[bottle_index]" v-on:click="pourBottle()">Pour</button>
        </div>
        <div class='field'>
            <button class="button" v-on:click="toggleEdit()">{{editing ? "Set" : "Edit"}}</button>
        </div>
        <div class='field'>
            <button class="button" v-if="shared.state.bottles[bottle_index]" v-on:click="markAsEmpty()">Mark as Empty</button>
        </div>
    </div>
</div>
</script>
{% endraw %}