{% raw %}
<script type="text/x-template" id="help-template">
<div class='content' v-if='shared.state.help'>
    <p>
        This is re-rack, the shitty Putz bartending solution. Click here for more info.
        Lorum ipsum weehee Lorum ipsum weehee Lorum ipsum weehee Lorum ipsum weehee Lorum ipsum weehee Lorum ipsum weehee Lorum ipsum weehee Lorum ipsum weehee Lorum ipsum weehee Lorum ipsum weehee Lorum ipsum weehee Lorum ipsum weehee Lorum ipsum weehee Lorum ipsum weehee Lorum ipsum weehee Lorum ipsum weehee Lorum ipsum weehee Lorum ipsum weehee Lorum ipsum weehee Lorum ipsum weehee 
    </p>
</div>
</script> 
{% endraw %}