{% raw %}
<script type="text/x-template" id="navbar-template">
<nav class="navbar" role="navigation">
    <div class="navbar-brand">
        <a href='/' class="title">re-rack</a>
    </div>
    <div class="navbar-menu is-active" id="navMenu">
        <div class='navbar-end'>
          <a class="navbar-item unselectable" v-on:click="shared.state.settings = true" v-if="!shared.state.settings">settings</a>
          <a class="navbar-item unselectable" v-on:click="shared.state.settings = false" v-if="shared.state.settings">back to recipes</a>
          <a class="navbar-item unselectable" v-on:click="shared.state.help = true" v-if="!shared.state.help">help</a>
          <a class="navbar-item unselectable" v-on:click="shared.state.help = false" v-if="shared.state.help">ok enough</a>
        </div>
      </div>
    </nav>
</nav>
</script> 
{% endraw %}