{% raw %}
<script type="text/x-template" id="recipe-pourer-template">
<div class="columns is-multiline">
    <div class="column is-one-quarter" v-for="recipe in shared.state.recipes">
        <recipe-module :name="recipe.name" :contents="recipe.contents"></recipe-module>
    </div>
</div>
</script>

<script type="text/x-template" id="recipe-module-template">
<div>
<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            {{ name }}
        </p>
    </header>
    <div class='card-content'>
        <div class='field'>
        <button class="button" v-on:click="pourRecipe()">Pour</button>
        </div>
        <div class='field'>
        <button class="button" v-on:click="deleteRecipe()">Remove</button>
        </div>
        <b-notification
        auto-close type="is-danger"
        :active.sync="showingExtras"
        aria-close-label="Close notification">
        You'll also need: {{ extras }}
        </b-notification>
    </div>
</div>
</div>
</script>
{% endraw %}